In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series([1, 3, 6, np.nan, 44, 1])

In [3]:
s

0     1.0
1     3.0
2     6.0
3     NaN
4    44.0
5     1.0
dtype: float64

In [4]:
dates = pd.date_range('20190208', periods=6)
dates

DatetimeIndex(['2019-02-08', '2019-02-09', '2019-02-10', '2019-02-11',
               '2019-02-12', '2019-02-13'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=['a', 'b', 'c', 'd'])
df

                   a         b         c         d
2019-02-08 -0.626765 -0.529159 -0.194667  1.286348
2019-02-09 -0.707414 -0.680323 -0.490865  0.589676
2019-02-10 -1.393448  1.606990 -0.528848 -0.006793
2019-02-11 -2.052082 -0.156593  0.360890  1.835461
2019-02-12 -1.158806  0.307259 -0.525679  0.969564
2019-02-13  0.748976 -0.018584 -1.074778 -0.128501

In [13]:
df.describe()

              a         b         c         d
count  6.000000  6.000000  6.000000  6.000000
mean  -0.864923  0.088265 -0.408991  0.757626
std    0.944590  0.824354  0.472569  0.759468
min   -2.052082 -0.680323 -1.074778 -0.128501
25%   -1.334787 -0.436018 -0.528056  0.142325
50%   -0.933110 -0.087588 -0.508272  0.779620
75%   -0.646927  0.225798 -0.268717  1.207152
max    0.748976  1.606990  0.360890  1.835461

In [14]:
df.sort_index(axis=1, ascending=False)

                   d         c         b         a
2019-02-08  1.286348 -0.194667 -0.529159 -0.626765
2019-02-09  0.589676 -0.490865 -0.680323 -0.707414
2019-02-10 -0.006793 -0.528848  1.606990 -1.393448
2019-02-11  1.835461  0.360890 -0.156593 -2.052082
2019-02-12  0.969564 -0.525679  0.307259 -1.158806
2019-02-13 -0.128501 -1.074778 -0.018584  0.748976